@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

* {
  background-color: #222222;
  color: #aaaaaa;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

img {
  border-radius: 100px;
  margin-right: 4px;
  margin-left: 4px;
  box-shadow: 2px 2px 5px #111111;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #303030;
  text-align: center;
  box-shadow: 3px 3px 10px #111111;
}
  .navbar a {
    display: inline-block;
    color: #aaaaaa;
    padding: 4px 12px;
    margin: 0px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a.active {
    background-color: #40454f;
    color: #ffffff;
  }
  .navbar a:hover {
    background-color: #aaaaaa;
    color: #000000;
    transition-duration: 75ms;
    transition-timing-function: ease;
  }
  .navbar a:not(:hover) {
    transition-duration: 75ms;
    transition-timing-function: ease;
  }

/* Below navbar */

.main {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.bar {
  background-color: #272727;
  border-radius: 25px;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  box-shadow: 3px 3px 10px #111111;
  max-width: 800px;
}
  .bar * {
    background-color: #00000000;
  }
  .bar:hover {
    transform: scale(1.05);
    transition-duration: 50ms;
    transition-timing-function: ease;
  }
  .bar:not(:hover) {
    transform: scale(1);
    transition-duration: 50ms;
    transition-timing-function: ease;
  }

.title {
  display: inline-table;
  font-size: 33px;
  margin-bottom: 6px;
  text-decoration: underline;
  text-decoration-color: #00000000;
}
  .title:hover {
    text-decoration-color: #aaaaaa;
    transition-duration: 75ms;
    transition-timing-function: ease;
  }
  .title:not(:hover) {
    text-decoration-color: #00000000;
    transition-duration: 75ms;
    transition-timing-function: ease;
  }

.description {
  margin-top: -20px;
  font-size: 18px;
}

.pills {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0;
  margin-top: -16px;
}

.pills img {
  margin-top: 10px;
}

